<div class="scrollable">
	<div class="scrollable-content section">
		<div id="title" ui-content-for="title">
		</div>
		<form novalidate name="form" ng-submit="editSession(session)">
			<fieldset>
				<div class="form-group">
					<label>Date</label>
					<input type="text" class="hidden"
			      datetimepicker
			      datetimepicker-options="{
			       	format: 'YYYY/MM/DD',
			        inline: true
			      }"
			      name="date"
			      ng-model="date">
				</div>

				<div class="form-group">
					<label>Begin of working time</label>
					<input type="text" class="hidden"
			      datetimepicker
			      datetimepicker-options="{
			       	format: 'HH:mm',
							inline: true
			      }"
			      name="startTime"
			      ng-model="startTime">
				</div>

				<div class="form-group">
					<label>End of working time</label>
					<input type="text" class="hidden"
			      datetimepicker
			      datetimepicker-options="{
			       	format: 'HH:mm',
			        inline: true
						}"
			      name="stopTime"
			      ng-model="stopTime">
				</div>
			</fieldset>
			<div ui-content-for="navbarAction">
		    <button ng-disabled="form.$invalid" class="btn" ng-click="editSession(project)">
		      Save
		    </button>
		  </div>
			<div>
		    <button ng-disabled="form.$invalid" class="btn btn-primary btn-block" type="submit">
		      Save
		    </button>
		  </div>
		</form>
	</div>
</div>