<div class="scrollable">
	<div class="scrollable-header" ng-init="getProject()">
		<div ui-content-for="title">
			<span>{{title}}</span>
		</div>
		<div ui-content-for="navbarAction">
      <button class="btn" ng-click="addSession(project.id)">add session</button>
    </div>
    <div ui-content-for="navbarMenu">
    	<button class="btn" ng-model="delete" ng-click="delete = !delete">Edit</button>
    </div>
    <div ng-show="project.is_used === 1" class="text-center">
    	<p class="session-icon text-success" ng-click="startTimer(project.id)" ng-disabled="timerRunning">start</p>
    	<p class="session-icon text-danger" ng-click="stopTimer(project.id)" ng-disabled="!timerRunning">stop</p>
			<h1><timer autostart="false" interval="1000">{{hhours}}:{{mminutes}}:{{sseconds}}</timer></h3>
    </div>
	</div>
	<div class="scrollable-content section">
		<div class="list-group" ng-init="updateSessions()">
			<a class="list-group-item" href="" ng-repeat="session in sessions | orderBy: '-timestamp_start'">
				<button class="btn btn-danger" ng-show="delete" confirm-click="deleteSession(session);" confirm-message="Are you sure?">DELETE</button>
				{{session.timestamp_start*1000 | date: 'dd.MM.yyyy'}} | {{session.timestamp_start*1000 | date: 'HH:mm'}} | {{session.timestamp_stop*1000 | date: 'HH:mm'}} | {{calculateSessionDuration(session)}} 
			</a>
		</div>
	</div>
</div>