@import "bower_components/bootstrap/less/variables.less";
@import "bower_components/bootstrap/less/glyphicons.less";
@import "mobile-angular-ui/src/less/mobile-angular-ui.less";
@import "mixins.less";
@import "variables.less";
@import "bower_components/ng-notify/dist/ng-notify.min.css";
@import "bower_components/eonasdan-bootstrap-datetimepicker/src/less/_bootstrap-datetimepicker.less";

/* Session icon styles */
.session-icon {
  font-size: 44px;
  padding: 0;
  line-height: 68px;
  width: 72px;
  text-align: center;
  border: 3px solid;
  border-radius: 200px;
  height: 72px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

/* Timer styles */
.timer {
  letter-spacing: 2px;
  display: inline;
  font-size: 40px;
  font-weight: bold;
}

/* Dashboard styles */
.dashboard-number {
  font-size: 28px;
  padding: 0;
  line-height: 68px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 10px;
}