@import "bower_components/bootstrap/less/variables.less";
@import "bower_components/bootstrap/less/glyphicons.less";
@import "mobile-angular-ui/src/less/mobile-angular-ui.less";
@import "mixins.less";
@import "variables.less";
@import "bower_components/ng-notify/dist/ng-notify.min.css";
@import "bower_components/eonasdan-bootstrap-datetimepicker/src/less/_bootstrap-datetimepicker.less";

/* App global styles */
.app {
  background-color: #bfc9d0;
}

/* Session icon styles */
.session-icon {
  display: inline-block;
  font-size: 20px;
  line-height: 68px;
  width: 72px;
  text-align: center;
  border: 3px solid;
  border-radius: 200px;
  height: 72px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

/* Dashboard styles */
.dashboard-number {
  font-size: 28px;
  padding: 0;
  line-height: 68px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 10px;
}

/* Navbar styles */
.navbar-absolute-top {
  color: #fff;
  background-color: #00375b;
  border-bottom-width: 0px;
}

.navbar-absolute-bottom {
  color: #fff;
}